.ipynb_checkpoints/*
ImportedData
Cache/*
Outputs/*
dask-worker-space/*
Makefile
*Scratch.ipynb
tmp*
__pycache__/*
URL-stripped-*.bib
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.swp
*.docx
*~
*.tmp
.~lock*
shaptest.png
shap-venv
